/* mix */
body{
  font-family: 'Open Sans', sans-serif;
}
/* tipo */
h1{
  font-size: 100px;
  font-weight: bold;
}
/* buttons */
.btn:hover{
  color: #fff;
}
.btn_primary{
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border-radius: 0px;
  padding: 8px 20px;
}
.btn_mobile{
  background: transparent;
  padding: 5px;
  font-size: 18px;
}
/* nav_bar */
.nav_bar{
  position: fixed;
  width: 100%;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
}
.logo img{
  height: 14px;
}
.main-nav li{
  margin-right: 30px;
}
.main-nav li a{
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.main-nav li a:hover{
  text-decoration: none;
}
.secondary-nav{
  margin-left:20px;
}
.secondary-nav .lang{
  background-color: transparent;
  border: none;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  line-height: normal;
  color: #000;
  font-size: 12px;
}
/* banner */
.banner{
  padding: 150px 0;
}
.banner img{
  width: 100%;
}













.prova_banner_col{
  height: 800px;
  background-color: #00ff07;
}
.prova_sc1_col1{
  height:200px;
  background-color: #ff9107;
}
.prova_sc1_col2{
  height:200px;
  background-color: #ff9183;
}
.prova_sc1_col3 {
  height:200px;
  background-color: #ff91ff;
}
#section_2{
  height: 800px;
  background-color: #0000fa;
}
.prova_sc3_col1{
  height: 150px;
  background-color: #000000;
}
.prova_sc3_col2{
  height: 200px;
  background-color: #370139;
}
.prova_sc3_col3{
  height: 200px;
  background-color: #610265;
}
.prova_sc3_col4{
  height: 150px;
  background-color: #97029c;
}
.prova_sc3_col5{
  height: 200px;
  background-color: #bd03c4;
}
.prova_sc3_col6{
  height: 200px;
  background-color: #f604ff;
}
.prova_footer1_col1{
  height: 100px;
  background-color: #00ff00;
}
.prova_footer1_col2{
height: 100px;
background-color: #8ff296;
}
.prova_footer1_col3{
height: 100px;
background-color: #8ff2f1;
}
.prova_footer1_col4{
height: 100px;
background-color: #bbbbf1;
}
.prova_footer1_col5{
height: 100px;
background-color: #bbbb80;
}
.prova_footer2_col1{
  height: 100px;
  background-color: #ff0000;
}
.prova_footer2_col2{
height: 100px;
background-color: #7403ff;
}
.prova_footer2_col3{
height: 100px;
background-color: #00d8ff;
}
.prova_footer2_col4{
height: 100px;
background-color: #04ff3f;
}
.prova_footer2_col5{
height: 100px;
background-color: #fcff05;
}
@media screen and (max-width: 992px){
  h1{
    font-size: 80px;
  }
  .banner{
    padding: 100px 0;
  }
}
@media screen and (max-width: 768px){
  h1{
    font-size: 60px;
  }
}
